langchain
langserve
langsmith
langchain_groq
langchain_community
langchain_chroma
langchain_google_genai
chromadb
fastapi
pydantic
uvicorn
torch
transformers>=4.30.0
peft>=0.4.0
accelerate
bitsandbytes
huggingface_hub
sentence-transformers
slowapi
sse_starlette